html{
}

.div_entete_im{
  margin-top: -10px;
}

.messageAccueil{
  color: #2c3e50;
}

/* LEFT SIDE: EDITOR */
#editor{
    width:100%;
    margin-left: 10px;
    margin-right: 20px;
}

textarea {
  width:50%;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  color: #4D4D4D;
  resize:vertical;
}

#editor #affiEditeur{
  float: left;
  width:50%;
  position:relative;
  color:#000;
  max-width: 100%;
  height: 90%;
}

/* RIGHT SIDE: PREVIEW */
#editor #preview {
  margin-top: 20px;
  height: 80%;
  width:47%;
  /*left: 53%;*/
  float: right;
  border-left:0px solid #999;
  position:relative;
  color:#000;
  text-align: justify;
  overflow: auto; 
}



/*Hauteur et largeur du text edit du markdown*/
#input{
  color: #eee;
  height: 87%;
  width: 100%;
  background: none;
  border: none;
}
      
.saveFile{
  border: 1px #fff;
  width: 30%;
  height: 20px;
}      


/*Gestion d'un écran de mois de 810px*/
@media screen and (max-width: 810px) {

    #editor{
        width:99%;
    }

    /* RIGHT SIDE: PREVIEW */
    #editor #preview {
      height: 70%;
    }
}


#tools {
  margin-top:20px;
}

#tools .toolbutton {
  width: 100%;  
  float:left;
  margin-right:5px;
  padding: 5px;
  border: 1px solid #999;
  border-radius:8px;
  background-color: #eee;
}

#popupJQ{
  height: 100%;
}


/* CONTENT STYLING */
#preview p, dt, dd, a, h1, h2, h3 {
  color: #fff;
}

#preview p, dt, dd {
font-size: 18px;
line-height: 15px;
text-align: justify;
margin-bottom:10px;
}

#preview pre, blockquote {
line-height: 1.714em;
margin-bottom: 1.714em;
}

#preview h1 {
font-size: 24px;
line-height: 30px;
margin-top: 20px;
margin-bottom: 15px;
}

#preview h2 {
font-size: 20px;
line-height: 24px;
margin-top: 14px;
margin-bottom: 10px;
}

#preview h3 {
font-size: 14px;
line-height: 18px;
margin-top: 10px;
margin-bottom: 8px;
}

#preview h4 {
font-size: 12px;
line-height: 14px;
margin-top: 10px;
margin-bottom: 8px;
}

#preview hr {
margin-top: 1.6em;
}

#preview input {
font-size: 1.0em;
}

#preview ul {
list-style: square;
}

#preview li {
padding-bottom:10px;
}
#preview a {
color:#069;
text-decoration: none;
}
#preview a:hover {
text-decoration: underline;
}

#preview blockquote {
  margin-left:5px;
  padding:1px;
  padding-left:10px;
  padding-right:10px;
  border-left:1px solid #999;
  background-color:#eee;
}

#preview code, pre {
	font-family: Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;
  background-color:#eee;
  font-size:1.0em;
}

#preview pre {
  padding:5px;
  margin-left:5px;
  display:block;
  width:auto;
  overflow: auto !important;
}

/* HAX: Disable all borders from prettify */
#preview pre *, #preview code {
  border:none !important;
}

#preview code {
  display:inline;
}

#preview ul, #preview ol {
  margin-left:20px;
}
